h3 {
  /* Text */
  text-align: center;
  color: #ffffff;

  /* Margin */
  margin: 0;

  /* Padding */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

h2 {
  text-align: center;
}

h1 {
  text-align: center;
}

.card-header {
  background-color: #3d3c3c;
  margin-bottom: 1rem;
  cursor: pointer;
  padding-left: 5px;
  padding-right: 5px;
}
