.film-card {
  /* Margin */
  margin: 0.5rem;

  /* Border/Shadows */
  border: 1px solid black;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.31);
}

/* Give us a row */
.row {
  display: flex;
}

/* Give us a small column for the poster */
.image-column {
  flex: 33.33%;
  padding: 0 5px 5px 5px;
  vertical-align: middle;
}

/* And a big column for the plot */
.column {
  flex: 66.67%;
  padding-right: 1rem;
}

@media only screen and (max-width: 480px) {
  .film-card {
    width: 100%;
    margin: 0;
  }

  .row {
    display: block;
  }

  .image-column {
    text-align: center;
    padding: 5px;
  }

  .column {
    padding: 1rem;
  }
}
