/* Auth form styling */
.auth-form {
  /* Width */
  width: 70%;

  /* Margin */
  margin-left: auto;
  margin-right: auto;

  /* Padding */
  padding: 4rem 0;

  /* Border/shadows */
  border: 1px solid black;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.31);
}

.auth-form h1 {
  margin-top: 0;
}

.auth-form input {
  width: 60%;
}

/* Make our hero buttons stand out */
.hero-button {
  background-color: rgb(88, 86, 214);
}

.hero-button:hover {
  background-color: rgb(67, 65, 163);
}

@media only screen and (max-width: 480px) {
  /* Make auth forms look decent on lower viewport sizes */
  .auth-form {
    width: 90%;
    padding: 0;
  }

  .auth-form input {
    width: 90%;
  }
}
